.App {
  text-align: center;
}

.title {
  font-weight: bold;
}

.desc {
  font-weight: normal;
}

.pagination {
  display: flex;
  padding: 10px;
  /* justify-content: space-between; */
  list-style: none;
  cursor: pointer;
}

.pagination li {
  padding: 4px;
}

.pagination a {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
